<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>    
    <form action="" method="post">
        <p>
	    <label for="username">Username</label>
	    <input type="text" name="username" required >
	</p>
	<p>
	    <label for="password">Password</label>
	    <input type="password" name="password" required >
	</p>
	<p>
	    <input type="submit"value="login" name="login">
    </form>
    <form action="" method="post">
        <input type="submit" value="registration" name="registration">
	</p>
    </form>
    {% if error %}
		<br>{{error}}<br>
	{% endif %}
</body>
</html> 
